<ion-view view-title="¿De donde nos visitas?">
  <ion-pane>
    <ion-content >
      <ion-list>
        <a ng-click="citySelection();" href="#/main-menu" class="button button-stable button-block">Saltillo</a>
        <a ng-click="citySelectionTwo();" href="#/main-menu" class="button button-stable button-block">Guanajuato</a>
        <a ng-click="citySelectionThree();" href="#/main-menu" class="button button-stable button-block">Leon</a>
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>
