<ion-view view-title="Directorio">
  <ion-pane>

    <ion-content>
      <ion-list>
        <div class="button-bar button-full contact-bar">
          <div ng-click="search('cardiologo');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/martin_alfredo.jpg" alt="icon">
            <p>Cardiologo</p>
          </div>
          
          <img src="" alt="">
          <a ng-click="search('dentista');" class="button button-stable button-block directory-btn">Dentista</a>
        </div>

        <div class="button-bar button-full contact-bar">
          <a ng-click="search();" class="button button-stable button-block directory-btn default-position">Neurologo</a>
          <a ng-click="search();" class="button button-stable button-block directory-btn">neurologo</a>
        </div>
       
        
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>
