<ion-view view-title="Directorio">
  <ion-pane>

    <ion-content>
      <ion-list>
        <!-- <ion-item ng-repeat="item in doctorsList | filter:search:strict" class="item-thumbnail-left item-text-wrap" ng-click="showDoc('{{item.id}}')">
          <img src="http://placehold.it/100x100" alt="Photo">
          <h2>{{item.nombre | filter: query}}</h2>
          <h3>{{item.direccion}}</h3>
          <p>{{item.pareja}}</p>
        </ion-item> -->
        <a href="#" class="button button-stable button-block">cardiologo</a>
        <a href="#"  class="button button-stable button-block">dentista</a>
        <a href="#"  class="button button-stable button-block">neurologo</a>
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>
