<ion-view view-title="Directorio">
  <ion-pane>

    <ion-content>
      <ion-list>

        <div class="button-bar button-full contact-bar">
          <div ng-click="search('Alergia e Inmunología Clínica');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/alergia.png" alt="icon">
            <p class="custom-line-heigh">Alergía e <br>Inmunología</p>
          </div>
          <div ng-click="search('Cirugía General');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/cirugia_general.png" alt="icon">
            <p>Cirugía General</p>
          </div>
        </div>

         <div class="button-bar button-full contact-bar top-margin">
          <div ng-click="search('Dentista');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/dentista.png" alt="icon">
            <p>Dentista</p>
          </div>
          <div ng-click="search('Electrodiagnóstico');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/electrodiagnostico.png" alt="icon">
            <p>Electrodiagnóstico</p>
          </div>
        </div>

        <div class="button-bar button-full contact-bar top-margin">
          <div ng-click="search('Ginecología y Obstetricia');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/ginecologia.png" alt="icon">
            <p>Ginecología</p>
          </div>
          <div ng-click="search('Gastroenterólogo');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/gastroenterologo.png" alt="icon">
            <p>Gastroenterólogo</p>
          </div>
        </div> 

        <div class="button-bar button-full contact-bar top-margin">
          <div ng-click="search('Medicina Interna');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/medicina_interna.png" alt="icon">
            <p>Medicina Interna</p>
          </div>
          <div ng-click="search('Reumatólogo');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/reumatologo.png" alt="icon">
            <p>Reumatólogo</p>
          </div>
        </div> 

        <div class="button-bar button-full contact-bar top-margin">
          <div ng-click="search('Traumatólogo y Ortopedia');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/traumatologo.png" alt="icon">
            <p>Traumatólogo</p>
          </div>
          <div ng-click="search('Infectología');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/infectologia.png" alt="icon">
            <p>Infectología</p>
          </div>
        </div> 

        <div class="button-bar button-full contact-bar top-margin">
          <div ng-click="search('Pediatra');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/pediatra.png" alt="icon">
            <p>Pediatra</p>
          </div>
          <div ng-click="search('Cirugía Plástica y Reconstructiva');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/plastica.png" alt="icon">
            <p class="custom-line-heigh">Cirugía Plástica y <br>Reconstructiva</p>
          </div>
        </div> 

        <div class="button-bar button-full contact-bar top-margin one-btn">
          <div ng-click="search('Medicina Física y Rehabilitación');" class="button button-stable button-block directory-btn default-position margin-btn">
            <img class="custom-icon" src="img/rehab.png" alt="icon">
            <p class="custom-line-heigh">Medicina Física y<br> Rehabilitación</p>
          </div>
<!--           <div ng-click="search('cirugía plástica');" class="button button-stable button-block directory-btn default-position">
            <img class="custom-icon" src="img/plastica.png" alt="icon">
            <p>Cirugía Plástica</p>
          </div> -->
        </div> 


       
        
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>
