/* Empty. Add your own CSS if you like */
@font-face {
  font-family: mainFont;
  src: url(../fonts/Comfortaa-Bold.ttf);
}
@font-face {
  font-family: secondFont;
  src: url(../fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: thirdFont;
  src: url(../fonts/Comfortaa-Light.ttf);
}
.platform-android .bar .header-item {
  font-size: 18px;
  font-family: secondFont;
}
.bar .header-item {  /* ios */
  font-size: 18px;
  font-family: secondFont;
}



.custom-size-button {
  height: 210px;
  line-height: 210px;
  font-size: 2em;
  font-family: secondFont;
  color: #387EF5 !important;
}

.custom-size-button-main {
  height: 280px;
  line-height: 280px;
  font-size: 2em;
  font-family: secondFont;
  color: #387EF5 !important;
}

.footer-custom {
  border-top: none;
}
.footer-custom h1 {
  color: #999999;
  font-family: mainFont;
  border-top: none;
}






/* Helpers */
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100px;
  margin-top: 40px;
  margin-bottom: 50px;
}





/* Details css */


.contact-bar {
  font-family: thirdFont;
}

.espec {
  border-radius: 0 !important;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: -25px;
  margin-bottom: 30px;
}


.phone {
  background-color: #246FFC;
  border-radius: 0 !important;
  color: white;
  letter-spacing: 1px;
  line-height: 45px;
  height: 45px;
}


.info {
  padding-left: 15px;
  padding-top: 15px;
}
.info p{
  font-weight: bold;
  text-align: left;
}
.info span {
  display: block;
  font-weight: lighter;
}



/*Custom search styles*/
.custom-search {
  text-transform: capitalize;
}
  .custom-search h2 {
    /*font-family:  mainFont;*/
    font-weight:  bold; 
  }
  .custom-search h3 {
    /*font-family:  mainFont;*/
  }
  .custom-search h3{

  }

.directory-btn {
  border-radius: 0 !important;
  line-height: 30px;
  margin-left: 17px !important;
  font-size: 15px;
  color: #246FFC !important;
}

.default-position {
  margin-left: 0 !important;
}



/*custom directory icons*/
.custom-icon {
  width: 50px;
  margin-top: 30px; 
}



/*Map*/

.map {
  background-color: white;
  height: 250px;
  width: 100;
  position: absolute;
  width: 100%;
  left: 0;
}




.margin-btn {
  margin-right: 5px !important;
}

.top-margin {
  margin-top: -15px !important;
}

.one-btn {
  width: 50%;
}

.button-bar > .button {
  padding: 0;
}

.long-name {
  font-size: .8em;
}


